*/vendor
woocommerce-sequra/tests/env_vars
woocommerce-sequra/phpunit.xml
dist
publish.sh
.history
.DS_Store
.vscode
woocommerce-sequra/composer.lock
woocommerce-sequracheckout/composer.lock
node-modules
