x-env_file: &env_file
  env_file:
    - .env

services:
  web:
    image: sequra/wordpress:$WP_TAG
    build:
      dockerfile: Dockerfile
      context: ./.devcontainer
      args:
        WP_TAG: $WP_TAG
    depends_on:
      - db
    ports:
      - $WP_HTTP_PORT:80
    extra_hosts:
      - "host.docker.internal:host-gateway" # For XDebug to work properly on Linux
      - "localhost.sequrapi.com:host-gateway"
    <<: *env_file
    volumes:
      - sq_wordpress:/var/www/html
      - ./.devcontainer/xdebug:/tmp/xdebug
      - ./sequra:/var/www/html/wp-content/plugins/_sequra
      - ./sequra-helper:/var/www/html/wp-content/plugins/sequra-helper
  db:
    image: mariadb:$MARIADB_TAG
    ports:
      - 3326:3306
    <<: *env_file
    volumes:
      - sq_db:/var/lib/mysql
  
volumes:
  sq_wordpress:
  sq_db: