<?xml version="1.0" encoding="UTF-8"?>
<phpunit
bootstrap="tests/bootstrap.php"
backupGlobals="false"
colors="true"
convertErrorsToExceptions="true"
convertNoticesToExceptions="true"
convertWarningsToExceptions="true"
verbose="true"
>
<testsuites>
<testsuite name="WooCommerce Test Suite">
<directory suffix=".php">./tests/unit-tests</directory>
</testsuite>
</testsuites>
<filter>
<whitelist addUncoveredFilesFromWhitelist="true">
<directory suffix=".php">./includes</directory>
<directory suffix=".php">./</directory>
<exclude>
<directory suffix=".php">./templates</directory>
<directory suffix=".php">./upgrades</directory>
<directory suffix=".php">./lib</directory>
<directory suffix=".php">./vendor</directory>
<directory suffix=".php">./tests</directory>
</exclude>
</whitelist>
</filter>
<listeners>
<listener class="SpeedTrapListener" file="tests/includes/listener-loader.php" />
</listeners>
<php>
<env name="WP_TESTS_DIR" value="/tmp/wp-test-dir"/>
<env name="WP_CORE_DIR" value="/var/folders/f5/ss5nnh9169v1tj1fvxyqn9z80000gn/T/wordpress/"/>
<env name="WC_DIR" value="/var/folders/f5/ss5nnh9169v1tj1fvxyqn9z80000gn/T/wordpress/wp-content/plugins/woocommerce"/>
</php>
</phpunit>
