#sequra-logs-container {
    display: grid;
}

#sequra-logs-content {
    width: 100%;
    min-height: 500px;
    font-family: monospace;
}

.sequra-log__content-wrapper {
    margin: 2rem 0;
    position: relative;
}

.sequra-logs__title {
    position: absolute;
    top: 8px;
    font-weight: 700;
    font-size: 18px;
    left: 8px;
    opacity: .75;
    transition: all .3s;
}

.sequra-logs__error,
.sequra-logs__success {
    font-weight: 400;
    font-size: 14px;
}

.sequra-logs__error {
    color: #dc3232;
}

.sequra-logs__success {
    color: #2e7d32;
}

#sequra-logs-content.active+.sequra-logs__title,
#sequra-logs-content:focus+.sequra-logs__title {
    top: -24px;
    font-size: 14px;
    left: 0;
    opacity: 1;
}

.sequra-log__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#sequra-logs-container .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem 1rem;
    min-width: 100px;
}

.button.button-danger,
.button.button-danger:focus {
    background-color: #dc3232;
    color: #fff;
    border-color: #dc3232;
    text-decoration: none;
    text-shadow: none;
}

.button.button-danger:hover {
    background: #b32d2e;
    border-color: #b32d2e;
    color: #fff;
}

.button.button-danger:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #dc3232;
}

.sequra-modal::backdrop {
    background-color: #0000002e;
}

.sequra-modal {
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #0000002e;
    padding: 1rem;
    max-width: 375px;
}

.sequra-modal__title,
.sequra-modal__subtitle {
    display: block;
    font-size: 1rem;
}

.sequra-modal__title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.sequra-modal__subtitle {
    margin-bottom: 2rem;
    color: #3c434a;
}

.sequra-modal__actions {
    display: flex;
    justify-content: right;
    gap: 1rem;
}