.sequra_popup_embedded .sequra_white_content {
    text-align: center;
    background: transparent;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.sequra_popup_embedded h5,
.sequra_popup_embedded h4{
    margin: 0px;
    font-weight: initial;
    font-size: inherit;
}
.woocommerce-checkout #payment ul.payment_methods .sequra_popup_embedded li:before,
.woocommerce-checkout #payment ul.payment_methods .sequra_popup_embedded li:after{
    display:none;
}
.sequra_popup_embedded .sequra_content_popup ol{
    margin:20px;
}
.sequra_popup_embedded .sequra_content_popup ul, .sequra_popup_embedded .sequra_content_popup ul>li {
    margin: auto;
    display: table;
}

#sequra_partpayment_teaser, #sequra_partpayment_teaser {
    font-size: 80%;
}
#sequra_partpayment_teaser ul span {
    white-space: nowrap;
}