/* line 1, ../scss/_general.scss */
.sequra-fraction-wrapper {
  color: #333333;
  max-width: 320px;
}
/* line 4, ../scss/_general.scss */
.sequra-fraction-wrapper a {
  color: #333333;
}
/* line 7, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-title {
  font-size: 15px;
}
/* line 11, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-total {
  font-size: 15px;
  margin-left: 10px;
  font-weight: bold;
  text-align: right;
}
/* line 18, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-choose {
  color: #03a95e;
  font-size: 14px;
  line-height: 1.8em;
  border-bottom: 1px solid #03a95e;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 28, ../scss/_general.scss */
.sequra-fraction-wrapper .dragdealer {
  position: relative;
  height: 2px;
  background: #e1e1e1;
  border-radius: 3px;
  margin: 37px 42px 35px 42px;
}
/* line 34, ../scss/_general.scss */
.sequra-fraction-wrapper .dragdealer .handle {
  margin-top: -11px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: #03a95e;
  border-radius: 60px;
  z-index: 100;
}
/* line 46, ../scss/_general.scss */
.sequra-fraction-wrapper .dragdealer .disabled {
  background: #898989;
}
/* line 50, ../scss/_general.scss */
.sequra-fraction-wrapper .dragdealer .dots-line {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
/* line 55, ../scss/_general.scss */
.sequra-fraction-wrapper .dragdealer .dots-line td {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 59, ../scss/_general.scss */
.sequra-fraction-wrapper .dragdealer .dots-line td.first {
  text-align: left;
}
/* line 62, ../scss/_general.scss */
.sequra-fraction-wrapper .dragdealer .dots-line td.last {
  text-align: right;
}
/* line 66, ../scss/_general.scss */
.sequra-fraction-wrapper .dragdealer .dots-line .dot {
  width: 10px;
  height: 10px;
  border-radius: 60px;
  cursor: pointer;
  background: #e1e1e1;
  display: inline-block;
  position: relative;
  top: -7px;
  z-index: 0;
  vertical-align: middle;
}
/* line 82, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas {
  width: 100%;
  margin: 0 0 25px 0;
}
/* line 85, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas td {
  display: table-cell !important;
}
/* line 89, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas .sequra-fraction-quota-item-wrapper .sequra-fraction-quota-item {
  width: 89px;
  padding: 8px 0;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background: #e1e1e1;
  border-bottom: 2px solid #9f9e9e;
  border-radius: 5px;
  position: relative;
}
/* line 100, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas .sequra-fraction-quota-item-wrapper .sequra-fraction-quota-item .arrow {
  display: none;
}
/* line 103, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas .sequra-fraction-quota-item-wrapper .sequra-fraction-quota-item .upper-btn {
  text-transform: uppercase;
  border-bottom: 1px solid #d2d2d2;
  margin: 0 2px;
}
/* line 108, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas .sequra-fraction-quota-item-wrapper .sequra-fraction-quota-item .lower-btn {
  text-transform: lowercase;
}
/* line 111, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas .sequra-fraction-quota-item-wrapper .sequra-fraction-quota-item:hover {
  background: #CCCCCC;
}
/* line 114, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas .sequra-fraction-quota-item-wrapper .sequra-fraction-quota-item.selected {
  background: #03a95e;
  border-bottom: 2px solid #009352;
  color: white;
}
/* line 118, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas .sequra-fraction-quota-item-wrapper .sequra-fraction-quota-item.selected .arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #03a95e;
  display: block;
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -6px;
}
/* line 131, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-fraction-quotas .sequra-fraction-quota-item-wrapper .sequra-fraction-quota-item.selected .upper-btn {
  border-bottom: 1px solid #ffffff;
}
/* line 140, ../scss/_general.scss */
.sequra-fraction-wrapper .sequra-extra-info {
  font-size: 12px;
  line-height: 1.2em;
  text-align: center;
}

/* line 147, ../scss/_general.scss */
#sequra_partpayments_agreement_popup.sequra_popup {
  display: block;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  min-width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9001;
  overflow: auto;
}
/* line 163, ../scss/_general.scss */
#sequra_partpayments_agreement_popup.sequra_popup * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 167, ../scss/_general.scss */
#sequra_partpayments_agreement_popup.sequra_popup .sequra_white_content {
  min-width: 320px;
  position: relative;
  width: 50%;
  padding: 0;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  background-color: white;
  overflow: auto;
  font-size: 120%;
  line-height: 1.2em;
  margin: 5% auto 0 auto;
  z-index: 9002;
  text-align: left;
  max-width: 600px;
  background-color: #FFF;
  color: #000000;
}
/* line 185, ../scss/_general.scss */
#sequra_partpayments_agreement_popup.sequra_popup .sequra_white_content h1 {
  background-image: none;
  text-transform: none;
  margin: 10px 0 20px 0;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  text-align: left;
}
/* line 195, ../scss/_general.scss */
#sequra_partpayments_agreement_popup.sequra_popup .sequra_white_content p {
  margin-bottom: 15px;
  text-align: justify;
  padding-bottom: 0;
}
/* line 200, ../scss/_general.scss */
#sequra_partpayments_agreement_popup.sequra_popup .sequra_white_content a {
  text-decoration: underline;
  color: black;
}
/* line 204, ../scss/_general.scss */
#sequra_partpayments_agreement_popup.sequra_popup .sequra_white_content .sequra_popup_close, #sequra_partpayments_agreement_popup.sequra_popup .sequra_white_content .sequra_popup_close_delegatedless {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-indent: 1000px;
  cursor: pointer;
  background-image: url(../img/close_cross.png);
  overflow: hidden;
}
/* line 216, ../scss/_general.scss */
#sequra_partpayments_agreement_popup.sequra_popup .sequra_white_content .sequra_content_popup {
  overflow: hidden;
  padding: 1em 1.5em;
}
