bin/
vendor/
node_modules/
.circleci/
# .phpcs.*
.phpunit.*
tests/bootstrap.php
tests/test-sample.php
sequra.log
assets/css/*.css
assets/css/*.css.map
assets/js/*.js
tests-e2e/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
assets/integration-core-ui