$color_1: inherit;
$color_2: #0066ff;
$color_3: #00C2A3;
$color_4: #B1AEBA;
$color_5: #0075ff;
$color_6: #394962;
$color_7: #00112c;
$color_8: #000;
$color_9: #fff;
$color_10: #a5afbd;
$color_11: #69778c;
$color_12: #EA9D56;
$color_13: #656566;
$color_14: #ffffff;
$color_15: #0ABF53;
$color_16: #B65700;
$color_17: #8390a3;
$color_18: #555;
$color_19: white;
$color_20: #20304c;
$color_21: #e50000;
$color_22: #055f29;
$color_23: #7F4A00;
$color_24: #720000;
$color_25: #686565;
$font-family_1: inherit;
$font-family_2: "sq-icons";
$font-family_3: "Inter", sans-serif;
$background-color_1: white;
$background-color_2: #f3f6f9;
$background-color_3: #000;
$background-color_4: #f4f4f4;
$background-color_5: #fff;
$background-color_6: #00C2A3;
$background-color_7: #dce0e5;
$background-color_8: #c00e0e;
$background-color_9: #d81010;
$background-color_10: #a5afbd;
$background-color_11: #6FCF97;
$background-color_12: #00112c;
$background-color_13: #60d58f;
$background-color_14: #cef2dd;
$background-color_15: #ffeacc;
$background-color_16: #facccc;
$background-color_17: rgba(0, 17, 44, 0.4);
$border-color_1: #00C2A3;
$border-color_2: #dce0e5;
$border-color_3: #c00e0e;
$border-color_4: #d81010;
$border-color_5: transparent;
$border-color_6: #6FCF97 #6FCF97 #e3e6eb;
$border-color_7: #00C2A3 #00C2A3 #dce0e5;
$border-color_8: #dce0e5 #00C2A3 #00C2A3;
$border-color_9: rgba(255, 255, 255, 0.1);
$border-top-color_1: #00C2A3;
$border-top-color_2: #fff;