// @font-face {
// 	font-family: "Inter";
// 	font-style: normal;
// 	font-weight: 400;
// 	src: local("Inter Regular"), url(../fonts/Inter/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter/Inter-Regular.woff) format("woff");
// }
// @font-face {
// 	font-family: "Inter";
// 	font-style: normal;
// 	font-weight: 600;
// 	src: local("Inter SemiBold"), url(../fonts/Inter/Inter-SemiBold.woff2) format("woff2"), url(../fonts/Inter/Inter-SemiBold.woff) format("woff");
// }
// @font-face {
// 	font-family: "Inter";
// 	font-style: normal;
// 	font-weight: 700;
// 	src: local("Inter Bold"), url(../fonts/Inter/Inter-Bold.woff2) format("woff2"), url(../fonts/Inter/Inter-Bold.woff) format("woff");
// }
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
	font-family: "sq-icons";
	src: url("../fonts/sq-icons/sq-icons.eot");
	src: url("../fonts/sq-icons/sq-icons.eot") format("embedded-opentype"), url("../fonts/sq-icons/sq-icons.ttf") format("truetype"), url("../fonts/sq-icons/sq-icons.woff") format("woff"), url("../fonts/sq-icons/sq-icons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}